<div class="col-md-2 col-sm-2">
    <div ng-include="'page/sidebar/roomlist.html'"></div>
</div><!--col-md-2-->    

<div class="col-md-8 col-sm-8" ng-controller="ChatController">

  <ol class="discussion">
    <li class="{{message.speaker}}" ng-repeat="message in messages">
      <div class="avatar">
        <img src="./image/chat.png">
      </div>
      <div class="messages">
        <p>{{message.text}}</p>
        <div class="user">{{message.user}}</div><time>{{message.time}}</time>
      </div>
    </li>
  </ol>

<form ng-submit="sendMessage()">
    <div class="input-group">
        <input type="text" class="form-control" ng-model="newMessage" placeholder="message" id="query" name="query" value="">
            <div class="input-group-btn">
        <button type="submit" class="btn btn-success">Send</button>
        </div>
    </div>
</form>

</div><!--col-md-8-->
<div class="col-md-2 col-sm-2">

</div><!--col-md-2-->  


